<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>S. James Park – Anesthesia For Dentistry</title>

    {% block styles %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    {% endblock styles %}
    {% endblock head %}
</head>
<body>
    <div class="uk-position-top" id="top">
        <!-- Main Navbar -->
        <nav class="uk-navbar-container uk-navbar-transparent uk-light" data-uk-navbar="dropbar: false;">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav uk-margin-left">
                    <li class="uk-logo">
                        <a class="uk-text-large" data-uk-scroll="" href="#">S. James Park</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right uk-margin-right">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li><a class="uk-text-large" href="#">about</a></li>
                    <li><a class="uk-text-large" href="#">FAQs</a></li>
                </ul>
                <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
            </div>
        </nav>
    </div>

    <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav">
                <li><a class="uk-text-large" href="#">about</a></li>
                <li><a class="uk-text-large" href="#">blog</a></li>
            </ul>
        </div>
    </div>

    <!-- Your page content -->
    {% block content %}
    {% endblock content %}

    {% block scripts %}
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    {% endblock scripts %}
</body>
</html>
